<h2 class="text-center">Catalogo de Peliculas</h2>
<div class="row row-cols-1 row-cols-md-3">
   <div class="col mb-3" *ngFor="let pelicula of peliculas; index as i">
      <div class="card">
          <div class="m-auto">
              <!-- <button [disabled]="!pelicula.stock" class="btn btn-success my-2" (click)="agregarCarrito(pelicula.id)">Agregar al carrito</button> -->
          </div>
          <img [src]="pelicula.url" height="700" class="card-img-top" alt="foto de {{ pelicula.nombre }}">
          <div class="card-body">
              <br>
              <h3 class="card-title"><u>Película {{ i + 1 }}</u></h3>
              <br>
              <p>Título: <b>{{ pelicula.nombre }}</b></p>
              <p>Género: <i>{{ pelicula.tipoPelicula }}</i></p>
              <p>Año: <i>{{ pelicula.year }}</i></p>
              <p>Precio:$ <i>{{ pelicula.precio }}</i></p>
              <!-- <p>Disponibles: <i>{{ calcularDisponibles(pelicula.stock, pelicula.id) }}</i></p> -->

              <!-- <a [href]="pelicula.url" target="_blank" class="btn btn-primary mt-3">Detalles</a> -->
          </div>
      </div>
  </div>
</div>